<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mon rdv coiffure</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="../vendor/components/bootstrap/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="../vendor/components/font-awesome-4.7.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="../vendor/components/ionicons-2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="../vendor/components/dist/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="../vendor/components/bootstrap-select-1.12.2/dist/css/bootstrap-select.min.css">

        <link rel="stylesheet" href="../vendor/components/dist/css/skins/_all-skins.min.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="../vendor/components/plugins/iCheck/flat/blue.css">
        <!-- Morris chart -->
        <link rel="stylesheet" href="../vendor/components/plugins/morris/morris.css">
        <!-- jvectormap -->
        <link rel="stylesheet" href="../vendor/components/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
        <!-- Date Picker -->
        <link rel="stylesheet" href="../vendor/components/plugins/datepicker/datepicker3.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="../vendor/components/plugins/daterangepicker/daterangepicker.css">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="../vendor/components/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
        <!-- full calendar -->
        <link rel="stylesheet" href="../node_modules/fullcalendar/dist/fullcalendar.css">
        <!-- date picker -->
        <link rel="stylesheet" href="../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        

    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="client.php" class="logo">
                    <span class="logo-lg"><b>Rdv coiffure</b></span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown messages-menu">
                                <a href="#" class="dropdown-toggle" >
                                    <font color="white" size="6" ><b>Bonjour,  {{prenomClient}}</b></font>
                                </a>
                            </li>
                            <li class="dropdown messages-menu">
                                <a href="../scripts/deconnexion.php" class="dropdown-toggle" >
                                    <i class="fa fa-power-off fa-2x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <ul class="sidebar-menu">
                        <li class="header">MENU</li>
                        <li><a href="client.php"><i class="fa fa-home"></i> <span>Accueil</span></a></li>
                        <li><a href="rdv.php"><i class="fa fa-calendar"></i> <span>Prendre rdv</span></a></li>
                    </ul>
                </section>
            </aside>





          