{{> headerNoCo}}
<div class="content-wrapper">
    <section class="content">
    	<h1>Connectez-vous : </h1>
        <div class="col-md-offset-3">
			<div class="alert alert-danger" style="display:none;" id="info">
  			<strong>Erreur de connexion !</strong> 
			</div>
	        <h3 class="box-title">Adresse Mail :</h3>
	        <input class="form-control" type="text" id="adresseMail" /><br />
	        <h3 class="box-title"> Mot de passe :</h3> 
	        <input class="form-control" type="password" id="motDePasse" /><br />
	        <center><input  style="font-size: xx-large;" class="btn  btn-primary btn-lg" type="submit" onclick="connexion();" value="Connexion" /></center>
		    <form method="POST" action="client.php" id="postClient">
				<input type="hidden" id="clientValue" name="client" />
			</form>
		</div>
	{{> footer}}