
{{> header}}

<div class="content-wrapper">
    <section class="content">
    	<p>
	    	{{nomClient}}
	    	{{prenomClient}}
	    	{{mailClient}}
	    	{{idClient}}
	    </p>
    </section>
</div>


{{> footer}}