
{{> header}}
<div class="content-wrapper">
    <section class="content">
    	<div class="col-md-offset-3 ">
    		<center><h1>Bienvenue sur votre application de gestion d'emploie du temps de votre salon</h1></center>
    	</div>
    </section>
</div>


{{> footer}}
